<div class="photo_field">
	
	<p><%= f.file_field :image %></p>
	
	<p>
	  <%= f.label :tag_list %><br />
	  <%= f.text_field :tag_list %>
	</p>

	<%= f.check_box :_destroy %>
	<%= f.label :_destroy, "Remove photo" %>
</div>